html,
body {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	margin: 0;
	padding: 0;
	background: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
}

.container {
	max-width: $grid-container-width;
	margin: 0 auto;
	padding: 0 16px 80px;
}

header {
	margin: 48px 0;
}

.box {
	padding: 16px;
	border: 2px solid $color-black;
	border-radius: 5px;
	box-shadow: 4px 4px 0 $color-black;

	&.roomy {
		padding: 24px;
	}
}

.two-up {
	display: flex;
	margin-top: 24px;

	@include small {
		flex-wrap: wrap;
		margin-top: 16px;
	}

	> * {
    width: calc(50% - 12px);

		@include small {
      width: calc(100%);
    }
  }

  > * + * {
    margin-left: 24px;

		@include small {
      margin-left: 0;
			margin-top: 16px;
    }
  }
}
