/* =============================================================================
   TYPOGRAPHY
   ========================================================================== */

/* Headings
   ========================================================================== */

/**
 * 1. Reset margins.
 * 2. Base headings typography settings.
 */

h1, h2, h3, h4, h5, h6 {
	margin: 0.5em 0 1em;
}

h1 {
	/* 2 */
	font-size: $font-size-h1;
	line-height: $line-height-h1;
}

h2 {
	/* 2 */
	font-size: $font-size-h2;
	line-height: $line-height-h2;
}

h3 {
	/* 2 */
	font-size: $font-size-h3;
	line-height: $line-height-h3;
}

h4 {
	/* 2 */
	font-size: $font-size-h4;
	line-height: $line-height-h4;
}

h5 {
	/* 2 */
	font-size: $font-size-h5;
	line-height: $line-height-h5;
}

h6 {
	/* 2 */
	font-size: $font-size-h6;
	line-height: $line-height-h6;
}

header h1 {
	font-size: 18px;
	font-weight: normal;
	font-family: $font-family-mono;
	margin: 0;
}

header hr {
	border: 0;
	border-top: 1px dashed $color-black;
	border-bottom: 1px solid $color-black;
	background-color: $color-white;
	height: 4px;
}

h3, h4 {
	margin-top: 0;
	text-decoration: underline;
	-webkit-text-decoration-style: wavy;
	text-decoration-style: wavy;
	-webkit-text-underline-position: under;
	text-underline-position: under;
	font-family: $font-family-mono;
	// background: $color-green;
	// display: inline;
	line-height: 1.6;

	span {
		background: $color-yellow;
		padding: 6px 2px 6px 4px;
		white-space: nowrap;
	}
}

h3 {
	margin-bottom: 40px;
}

.box h4 {
	margin-top: 0;
	margin-bottom: 0;
	background: none;
}



/* Links
   ========================================================================== */

/**
 * Overriding default link styles to make them prettier.
 */

a {
	// color: $link-color;
	// text-decoration: none;
}



/* Lists
   ========================================================================== */

ul, ol {
	margin: 0;
	padding-left: 32px;
	list-style-type: none;
	position: relative;

	li:before {
		content: '\00261E'; // ☞
		font-size: 24px;
		position: absolute;
		left: 0;
	}
}

ul li + li {
	margin-top: 16px;
}

/**
 * 1. Adding padding on list wrapper when used for Outlook fix.
 * 2. Removing padding on lists inside list wrapper when used for Outlook fix.
 */

.list-reset {
	padding-left: 25px; /* 1 */

	ul, ol {
		padding: 0; /* 2 */
	}
}

blink {
  animation: 1s linear infinite blink;
	background: $color-pink;
	padding: 0 2px;
	text-decoration: none !important;
	font-size: 0.9em;
}

@keyframes blink {
  0% {
      visibility: hidden;
  }
  50% {
      visibility: hidden;
  }
  100% {
      visibility: visible;
  }
}
