.my80 {
	margin-top: 80px;
	margin-bottom: 80px;
}

.my40 {
	margin-top: 40px;
	margin-bottom: 40px;
}

.my24 {
	margin-top: 24px;
	margin-bottom: 24px;
}

.mt24 {
	margin-top: 24px;
}

.my16 {
	margin-top: 16px;
	margin-bottom: 16px;
}

.pink {
	background: $color-pink;
}

.purple {
	background: $color-purple;
}

.green {
	background: $color-green;
}

.yellow {
	background: $color-yellow;
}

.teal {
	background: $color-teal;
}

.align-horizontal {
	display: flex;
	justify-content: space-between;
}
